
.about img {
        width: 70%; 
        height:100%;
        border-radius: 10px;
        margin-left: 17%;
}


.artist img {
        width: 250px; 
        height:250px;
        border-radius: 10px;
} 

.artist {
        display: flex;
         padding: 20px;
         border-radius: 10px;
}
.intro{
        display: flex;
        padding: 20px;
}

.intro img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
        
}

p{
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 2px;
        padding: 30px;
}

 h1{
        font-size: 40px;
        text-align: center;
        color: rgb(238, 170, 193);
}
 body { 
         background-color: 
         rgb(222, 242, 245); 
}

  .writer img{
          width: 250px;
          height: 250px;
          border-radius: 10px;
}
.writer{
        display: flex;
        padding: 20px;
}

a:link {
        text-decoration: none;
        font-size: 15px;
}
      
      a:visited {
        text-decoration: none;
}
      
      a:hover {
        text-decoration: underline;
}

      a:active {
        text-decoration: underline;
        font-size: 15px;
}

      
       li{
              font-size: 30px;
               color: blue;
}

        li>a href{
                font-size: 30px;
                font-weight: bold;
        }